* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.burger.active {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

div.burger.active + nav {
  left: 0;
}

body {
  background-color: #F6F1ED;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 40vh;
  top: 0;
  left: -40vh;
  background-color: #0D1321;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  position: relative;
  margin: 7vh;
  font-size: 30px;
  color: #F3C677;
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 5px;
  cursor: pointer;
  overflow: hidden;
}

nav ul li span {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: -100%;
  height: 1px;
  width: 100%;
  background-color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

li:hover span {
  opacity: 1;
  left: 0%;
}

a {
  text-decoration: none;
  color: #F3C677;
}

.beer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.beer i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 350px;
  color: #AC3B61;
  opacity: 0.3;
}

.burger {
  position: absolute;
  top: 7%;
  right: 10%;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  border: 2px solid #F3C677;
  background-color: #F3C677;
  text-align: center;
  line-height: 7vh;
  font-size: 40px;
  font-family: 'Monoton', cursive;
  color: #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mainP {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 15%;
  font-family: 'Montaga', serif;
  font-size: 30px;
  font-weight: bold;
  color: #AC3B61;
  opacity: 0.4;
  text-align: center;
}

.yeastP {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 7%;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #0D1321;
  opacity: 0.5;
}

form.formYeast {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input.inputYeast {
  width: 45vh;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
}

input.inputYeast::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.inputYeast:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.inputYeast::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.inputYeast::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.inputYeast:focus::-webkit-input-placeholder {
  opacity: 0;
}

input.inputYeast:focus:-ms-input-placeholder {
  opacity: 0;
}

input.inputYeast:focus::-ms-input-placeholder {
  opacity: 0;
}

input.inputYeast:focus::placeholder {
  opacity: 0;
}

button.countYeast {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

div.resultYeast {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 75%;
  font-family: 'Quicksand', sans-serif;
  color: #AC3B61;
  font-size: 30px;
  font-weight: bold;
}

span.waterYeast {
  font-weight: normal;
}

button.resetYeast {
  position: absolute;
  bottom: 15%;
  right: 10%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button.resetYeast:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

.alcP {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 7%;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #0D1321;
  opacity: 0.5;
}

.formAlc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.startBlg {
  width: 30vh;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
}

.startBlg::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.startBlg:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.startBlg::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.startBlg::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.startBlg:focus::-webkit-input-placeholder {
  opacity: 0;
}

.startBlg:focus:-ms-input-placeholder {
  opacity: 0;
}

.startBlg:focus::-ms-input-placeholder {
  opacity: 0;
}

.startBlg:focus::placeholder {
  opacity: 0;
}

.endBlg {
  width: 30vh;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
}

.endBlg::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.endBlg:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.endBlg::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.endBlg::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.endBlg:focus::-webkit-input-placeholder {
  opacity: 0;
}

.endBlg:focus:-ms-input-placeholder {
  opacity: 0;
}

.endBlg:focus::-ms-input-placeholder {
  opacity: 0;
}

.endBlg:focus::placeholder {
  opacity: 0;
}

.countAlc {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 60%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countAlc:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

.resultAlc {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 75%;
  font-family: 'Quicksand', sans-serif;
  color: #AC3B61;
  font-size: 30px;
  font-weight: bold;
}

span.perCent {
  font-weight: normal;
}

.resetAlc {
  position: absolute;
  bottom: 15%;
  right: 10%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.resetAlc:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

.ibuP {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 7%;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  color: #0D1321;
  opacity: 0.5;
}

.formIBbu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amountHops {
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
}

.amountHops::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.amountHops:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.amountHops::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.amountHops::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.amountHops:focus::-webkit-input-placeholder {
  opacity: 0;
}

.amountHops:focus:-ms-input-placeholder {
  opacity: 0;
}

.amountHops:focus::-ms-input-placeholder {
  opacity: 0;
}

.amountHops:focus::placeholder {
  opacity: 0;
}

.alphaAcid {
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
}

.alphaAcid::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.alphaAcid:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.alphaAcid::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.alphaAcid::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.alphaAcid:focus::-webkit-input-placeholder {
  opacity: 0;
}

.alphaAcid:focus:-ms-input-placeholder {
  opacity: 0;
}

.alphaAcid:focus::-ms-input-placeholder {
  opacity: 0;
}

.alphaAcid:focus::placeholder {
  opacity: 0;
}

.wort {
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 0.1px solid #2274A5;
  text-align: center;
  margin: 1vh;
}

.wort::-webkit-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wort:-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wort::-ms-input-placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wort::placeholder {
  opacity: 1;
  color: #2274A5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.wort:focus::-webkit-input-placeholder {
  opacity: 0;
}

.wort:focus:-ms-input-placeholder {
  opacity: 0;
}

.wort:focus::-ms-input-placeholder {
  opacity: 0;
}

.wort:focus::placeholder {
  opacity: 0;
}

.countIbu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 67%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.countIbu:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

.resultIbu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 75%;
  font-family: 'Quicksand', sans-serif;
  color: #AC3B61;
  font-size: 30px;
  font-weight: bold;
  top: 80%;
}

span.ibuEbu {
  font-weight: normal;
}

.resetIbu {
  position: absolute;
  bottom: 15%;
  right: 10%;
  font-family: 'Quicksand', sans-serif;
  color: #0D1321;
  font-size: 30px;
  text-align: center;
  line-height: 7vh;
  background-color: transparent;
  border: none;
  border-bottom: 0.1px solid #0D1321;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.resetIbu:hover {
  color: #2274A5;
  border-bottom: 0.1px solid #2274A5;
}

@media (max-width: 1024px) {
  nav {
    width: 30vh;
  }
  .beer i {
    font-size: 250px;
  }
  .mainP {
    bottom: 25%;
    font-size: 25px;
  }
  .yeastP {
    line-height: 40px;
  }
  .alcP {
    line-height: 40px;
  }
  .ibuP {
    line-height: 40px;
  }
  .formIBbu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 60%;
    width: 70%;
  }
  .amountHops {
    height: 20%;
    width: 30%;
    margin: 2vh;
  }
  .alphaAcid {
    height: 20%;
    width: 30%;
    margin: 2vh;
  }
  .wort {
    height: 20%;
    width: 30%;
    margin: 2vh;
  }
}

@media (max-width: 768px) {
  nav {
    width: 25vh;
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    font-size: 25px;
  }
  .beer i {
    font-size: 200px;
  }
  .mainP {
    bottom: 30%;
    font-size: 20px;
  }
  .formAlc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startBlg {
    margin: 2vh;
  }
  .endBlg {
    margin: 2vh;
  }
  .countAlc {
    top: 62%;
  }
  .amountHops {
    width: 40%;
  }
  .alphaAcid {
    width: 40%;
  }
  .wort {
    width: 40%;
  }
}

@media (max-width: 425px) {
  .burger {
    top: 7%;
    left: calc(50% - 7vh / 2);
    border: none;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 80px;
    -webkit-transition: none;
    transition: none;
    z-index: 2;
  }
  div.burger.active {
    color: #F3C677;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  div.burger.active + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  div.burger.active + nav + .beer {
    display: none;
  }
  div.burger.active + nav + .beer + .mainP {
    display: none;
  }
  .beer i {
    font-size: 200px;
    z-index: -2;
  }
  .mainP {
    bottom: 25%;
    font-size: 25px;
  }
  nav {
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    left: 0;
    opacity: 0;
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    font-size: 45px;
    margin: 3vh;
  }
  .yeastP {
    display: none;
  }
  form.formYeast {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  button.countYeast {
    top: 45%;
  }
  div.resultYeast {
    top: 60%;
  }
  button.resetYeast {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .alcP {
    display: none;
  }
  .formAlc {
    top: 40%;
  }
  .countAlc {
    top: 50%;
  }
  .resultAlc {
    top: 60%;
  }
  .resetAlc {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .ibuP {
    display: none;
  }
  .formIBbu {
    top: 40%;
  }
  .amountHops {
    width: 50%;
  }
  .alphaAcid {
    width: 70%;
  }
  .wort {
    width: 80%;
  }
  .countIbu {
    top: 55%;
  }
  .resultIbu {
    top: 65%;
  }
  .resetIbu {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*# sourceMappingURL=style.css.map */