.alcP {
  @include centerX();
  @include paragraphs();
}

form.formAlc {
  @include absolute-center();
  @include flex-column-center();
  height: 38vh;
}

.alcBLGStart {
  position: relative;
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 2px;
    top: -12px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    width: 30vh;
    @include inputs();
    @include Font();
  }
}

.alcBLGEnd {
  position: relative;
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 2px;
    top: -12px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    width: 30vh;
    @include inputs();
    @include Font();
  }
}

// .startBlg::placeholder {
//   @include inputsHover();
// }

// .startBlg:focus::placeholder {
//   opacity: 0;
// }

// .endBlg::placeholder {
//   @include inputsHover();
// }

// .endBlg:focus::placeholder {
//   opacity: 0;
// }

span.spanFormAlc {
  @include Font();
  font-size: 16px;
  color: $pinkColor;
  font-weight: bold;
}

.countAlc {
  @include Font();
  @include buttons();
}

.countAlc:hover {
  @include buttonsHover();
}

.resultAlc {
  @include centerX();
  @include divs();
}

span.perCent {
  font-weight: normal;
}

.resetAlc {
  @include resetPosition();
  @include Font();
  @include buttons();
}

.resetAlc:hover {
  @include buttonsHover();
}

@include resetCheckbox();
