.yeastP {
  @include centerX();
  @include paragraphs();
}

form.formYeast {
  @include absolute-center();
  @include flex-column-center();
  height: 20vh;
}

.yeastInputGroup {
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 1px;
    top: -5px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    width: 45vh;
    @include inputs();
    @include Font();
  }
}

input.inputYeast::placeholder {
  @include inputsHover();
}

input.inputYeast:focus::placeholder {
  opacity: 0;
}

span.spanFormYeast {
  @include Font();
  font-size: 16px;
  color: $pinkColor;
  font-weight: bold;
}

button.countYeast {
  @include Font();
  @include buttons();
}

button:hover {
  @include buttonsHover();
}

div.resultYeast {
  @include centerX();
  @include divs();
}

span.waterYeast {
  font-weight: normal;
}

button.resetYeast {
  @include resetPosition();
  @include Font();
  @include buttons();
}

button.resetYeast:hover {
  @include buttonsHover();
}

@include resetCheckbox();
