.ibuP {
  @include centerX();
  @include paragraphs();
}

.formIBbu {
  @include absolute-center();
  @include flex-column-center();
}

.amountHops {
  @include Font();
  @include inputs();
}

.amountHops::placeholder {
  @include inputsHover();
}

.amountHops:focus::placeholder {
  opacity: 0;
}

.alphaAcid {
  @include Font();
  @include inputs();
}

.alphaAcid::placeholder {
  @include inputsHover();
}

.alphaAcid:focus::placeholder {
  opacity: 0;
}

.wort {
  @include Font();
  @include inputs();
}

.wort::placeholder {
  @include inputsHover();
}

.wort:focus::placeholder {
  opacity: 0;
}

.countIbu {
  @include centerX();
  top: 67%;
  @include Font();
  @include buttons();
}

.countIbu:hover {
  @include buttonsHover();
}

.resultIbu {
  @include centerX();
  @include divs();
  top: 80%;
}

span.ibuEbu {
  font-weight: normal;
}

.resetIbu {
  @include resetPosition();
  @include Font();
  @include buttons();
}

.resetIbu:hover {
  @include buttonsHover();
}

@include resetCheckbox();
