.alcP {
  @include centerX();
  @include paragraphs();
}

.formAlc {
  @include absolute-center();
  @include flex-column-center();
  height: 32vh;
}

.startBlg {
  width: 30vh;
  @include inputs();
  @include Font();
}

.startBlg::placeholder {
  @include inputsHover();
}

.startBlg:focus::placeholder {
  opacity: 0;
}

.endBlg {
  width: 30vh;
  @include inputs();
  @include Font();
}

.endBlg::placeholder {
  @include inputsHover();
}

.endBlg:focus::placeholder {
  opacity: 0;
}

span.spanFormAlc {
  @include Font();
  font-size: 16px;
  color: $pinkColor;
  font-weight: bold;
}

.countAlc {
  @include Font();
  @include buttons();
}

.countAlc:hover {
  @include buttonsHover();
}

.resultAlc {
  @include centerX();
  @include divs();
}

span.perCent {
  font-weight: normal;
}

.resetAlc {
  @include resetPosition();
  @include Font();
  @include buttons();
}

.resetAlc:hover {
  @include buttonsHover();
}

@include resetCheckbox();
