.yeastP {
  @include centerX();
  @include paragraphs();
}

form.formYeast {
  @include absolute-center();
}

input.inputYeast {
  width: 45vh;
  @include inputs();
  @include Font();
}

input.inputYeast::placeholder {
  @include inputsHover();
}

input.inputYeast:focus::placeholder {
  opacity: 0;
}

button.countYeast {
  @include centerX();
  top: 60%;
  @include Font();
  @include buttons();
}

button:hover {
  @include buttonsHover();
}

div.resultYeast {
  @include centerX();
  @include divs();
}

span.waterYeast {
  font-weight: normal;
}

button.resetYeast {
  @include resetPosition();
  @include Font();
  @include buttons();
}

button.resetYeast:hover {
  @include buttonsHover();
}

@include resetCheckbox();
