.ibuP {
  @include centerX();
  @include paragraphs();
}

.formIbu {
  @include absolute-center();
  @include flex-column-center();
  height: 48vh;
}

.hops {
  position: relative;
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 2px;
    top: -12px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    @include Font();
    @include inputs();
  }
}

.acid {
  position: relative;
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 2px;
    top: -12px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    @include Font();
    @include inputs();
  }
}

.wort {
  position: relative;
  border: 2px solid $blueColor;
  border-radius: 2%;
  margin: 1vh;

  &__label {
    position: absolute;
    padding: 2px;
    top: -12px;
    left: 20px;
    background-color: $backgroundColor;
    @include Font();
    font-size: 17px;
  }

  &__input {
    @include Font();
    @include inputs();
  }
}

span.spanFormIbu {
  @include Font();
  font-size: 16px;
  color: $pinkColor;
  font-weight: bold;
  text-align: center;
  width: 18vw;
}

.countIbu {
  @include Font();
  @include buttons();
}

.countIbu:hover {
  @include buttonsHover();
}

.resultIbu {
  @include centerX();
  @include divs();
  top: 80%;
}

span.ibuEbu {
  font-weight: normal;
}

.resetIbu {
  @include resetPosition();
  @include Font();
  @include buttons();
}

.resetIbu:hover {
  @include buttonsHover();
}

@include resetCheckbox();
