@mixin flex-column-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin absolute-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerX() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin paragraphs() {
    top: 7%;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    color: $darkColor;
    opacity: 0.5;
}

@mixin Font() {
    font-family: 'Quicksand', sans-serif;
    color: $darkColor;
    font-size: 30px;
}

@mixin inputs() {
    border: none;
    background-color: transparent;
    border-bottom: 0.1px solid $blueColor;
    text-align: center;
    margin: 1vh;
}

@mixin inputsHover() {
    opacity: 1;
    color: $blueColor;
    transition: $transitionTime;
}

@mixin buttons() {
    text-align: center;
    line-height: 7vh;
    background-color: transparent;
    border: none;
    border-bottom: 0.1px solid $darkColor;
    cursor: pointer;
    transition: $transitionTime;
}

@mixin buttonsHover() {
    color: $blueColor;
    border-bottom: 0.1px solid $blueColor;
}

@mixin divs() {
    top: 75%;
    font-family: 'Quicksand', sans-serif;
    color: $pinkColor;
    font-size: 30px;
    font-weight: bold;
}

@mixin resetPosition() {
    position: absolute;
    bottom: 15%;
    right: 10%;
}