//colors 
$backgroundColor: #F6F1ED;
$pinkColor: #AC3B61;
$blueColor: #2274A5;
$darkColor: #0D1321;
$yellowColor: #F3C677;

//fonts
// font-family: 'Monoton', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Source Code Pro', monospace;

// transition time
$transitionTime: .4s;